* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
      background-color: azure;
    }
    
    nav {
      background-color: #3acbf0;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 40px;
    }
    
    .links {
      margin-top: 5px;
    }
    
    nav a {
      text-decoration: none;
      color: #fff;
      margin-right: 20px;
    }
    
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .cards-fotos {
     margin: 40px;
    }
    
    .cards-fotos img {
      border-radius: 20px;
      -webkit-box-shadow: 41px -3px 133px -59px rgba(0, 0, 0, 0.73);
      -moz-box-shadow: 41px -3px 133px -59px rgba(0, 0, 0, 0.73);
    box-shadow: 41px -3px 133px -59px rgba(0, 0, 0, 0.73);
    }
    
    p {
      font-family: 'Libre Franklin', sans-serif ;
    }
    
    .preco {
      font-weight: bold;
    }
    #botaoreserva{
      background-color:  #ffffff;
      font-family: 'Libre Franklin', sans-serif ;
      border-radius: 10px;
      margin-left: 100px;
      margin-top: 10px;
      -webkit-box-shadow: 41px -3px 133px -59px rgba(0,0,0,0.73);
     -moz-box-shadow: 41px -3px 133px -59px rgba(0,0,0,0.73);
      box-shadow: 41px -3px 133px -59px rgba(0,0,0,0.73); 
      font-weight: bold;
      padding: 4px;
    }
    #botaoreserva:hover{
      background-color: black;
      color: white;
    }